// $primary-color: #df4733;
$primary-color: #d3341f;
$secondary-color: #007add;
$green-color: #06c410;
$dark-color: #333333;
$light-color: #EFEFF0;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$max-width: 1100px;
$trans-1: all 150ms ease-in;
$shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
$shadow-prim: 0 3px 20px rgba(223, 71, 51, 0.4);
$shadow-sec: 0 3px 20px rgba(37, 142, 166, 0.4);
$shadow-light: 0 3px 20px rgba(255, 255, 255, 0.4);
$shadow-dark: 0 3px 20px rgba(0, 0, 0, 0.4);
$shadow-inset:         
inset 0 3px 20px -10px rgba(0, 0, 0, 0.4),
inset 0 -3px 20px -10px rgba(0, 0, 0, 0.4);
$shadow-filter: drop-shadow(2.5px 2.5px 8px $dark-color);
$shadow-filter-sec: drop-shadow(2.5px 2.5px 8px $secondary-color);

.logo {
    font-weight: 700;
    font-size: 1.6rem;
    font-family: $secondary-font;
    color: $dark-color;
    letter-spacing: -1px;
    transition: $trans-1;

    i {
        color: $primary-color;
    }
}

.dark-overlay {
    height: 75vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 3rem;
    overflow: visible; /* Visible makes the butons work. Used to be/is supposed to be hidden */
}

.bg-dark {
    background: $dark-color;
    color: #EFEFF0;
}

.bg-light {
    background: $light-color;
    color: $dark-color;
}

.text-light {
    color: $light-color;
}

.text-secondary {
    color: $secondary-color;
}

.shadow-inset {
    box-shadow: $shadow-inset;
}

.text-center {
    text-align: center;
}

// Buttons
.btn {
    display: inline-block;
    background: $secondary-color;
    color: $light-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.3rem;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    outline: none;
    border-radius: 8px;

    &:hover {
        background: darken($secondary-color, 10%);
        box-shadow: $shadow-sec;
    }

    &-primary {
        background: $primary-color;
        color: #fff;

        &:hover {
            background: lighten($primary-color , 10%);
            box-shadow: $shadow-prim;
        }
    }

    &-secondary {
        background: $secondary-color;
        color: #fff;

        &:hover {
            background: lighten($secondary-color , 20%);
            box-shadow: $shadow-sec;
        }
    }

    &-dark {
        background: $dark-color;
        color: #fff;

        &:hover {
            background: lighten($dark-color , 20%);
            box-shadow: $shadow-dark;
        }
    }

    &-outline-dark {
        background: none;
        border: 2px solid $dark-color;
        color: $dark-color;

        &:hover {
            background: $dark-color;
            color: $light-color;
            box-shadow: $shadow-dark;
        }
    }

    &-outline-light {
        background: none;
        border: 2px solid $light-color;
        color: $light-color;

        &:hover {
            background: $light-color;
            color: $dark-color;
            box-shadow: $shadow-light;
        }
    }
}

//Used in plan cards.
.btn-plans {
    border: none;
    background: $secondary-color;
    color: $light-color;
    width: 100%;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-family: $secondary-font;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 2.5rem;
    transition: $trans-1;

    &:hover {
        background: darken($secondary-color, 10%);
    }
}

 .btn-plans-secondary {
    background: $light-color;
    color: $secondary-color;

    &:hover {
         background: darken($secondary-color, 10%);
         color: $light-color;
    }
}

//
//----Page Container
//
.page-container {
    background: $dark-color;
    padding: 7rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 4rem;
        font-family: $secondary-font;
        letter-spacing: -1px;
        padding-bottom: 3rem;
        color: $light-color;
        text-align: center;
    }

    p {
        color: $light-color;
        padding-bottom: 3rem;
    }
}

//
//----Compare Plans
//
.plan-compare {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 3rem 0 1rem;

    .plan-column {
        background: #fff;
        box-shadow: 0 7px 30px rgba(50, 31, 97, 0.1);
        padding: 1.5rem;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 350px;
        border-radius: 8px;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .popular-text {
            position: absolute;
            top: 1.4rem;
            left: 4rem;
            right: 4rem;
            min-width: 3.6rem;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: bold;
            font-family: $secondary-font;
            background: rgb(248, 203, 3);
            color: $secondary-color;
            border-radius: 8px;
        }
    }

    .popular {
        position: relative;
        background: $secondary-color;
        color: $light-color;
        box-shadow: 0 7px 30px rgba($secondary-color, 0.3);
        margin-top: -1.5rem;
        margin-bottom: -1.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        opacity: 1;

        .plan-header .plan-name {
            color: $light-color;
        }

        .divider {
            background:rgba($light-color, 0.2);
        }

        .fa-times {
            color: #c00000 !important;
        }
    }

    .plan-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $secondary-font;
        font-weight: bold;

        .plan-price {
            font-size: 3.5rem;
            display: flex;

            .dollar-sign {
                font-size: 1.5rem;
                margin: 0.5rem 0.25rem 0.5rem 0;
            }

            .per-month {
                font-size: 0.75rem;
                align-self: flex-end;
                margin-bottom: 1.1rem;
                text-transform: uppercase;
            }
        }

        .plan-name {
            text-transform: uppercase;
            font-size: 1.1rem;
            margin-top: 0.5rem;
            margin-bottom: 0;
            color: $secondary-color;
        }
    }

    .divider {
        height: 1px;
        width: 100%;
        background: rgba($dark-color, 0.2);
        margin: 1.5rem 0;
    }

    .plan-feature {
        display: flex;
        align-items: center;
        margin: 0.5rem;

        i {
            color: $green-color;
            height: 1.1em;
            width: 1.1em;
            margin-right: 0.5rem;
        }

        .fa-times {
            color: #ff0000;
        }

        img {
            height: 1.1em;
            width: 1.1em;
            margin-right: 0.5rem;
        }
    }

    .inactive {
        color: rgba(179, 179, 179, 0.411);
    }
}

//
//----Testimonial Cards
//
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $dark-color;

    .box {
        position: relative;
        padding: 5rem 3rem 3rem;
        margin: 4rem 2rem 3rem;
        transition: 0.5s;
        max-width: 450px;
        text-align: center;
        background: $light-color;
        border-radius: 8px;
        box-shadow: $shadow-inset;

        &:hover p,
        &:hover h3,
        &:hover h3 span {
            color: #fff;
        }

        &:hover {
            background: $secondary-color;
        }
        
        
        &:hover::before {
            transform: translateY(-60px);
            opacity: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 1rem;
            right: 3rem;
            width: 4.5rem;
            height: 4.5rem;
            background: url(../img/quote.svg);
            background-size: cover;
            opacity: 0.5;
            pointer-events: none;
            transition: 0.5s;
        }

        &:hover::after {
            transform: rotate(180deg) translateY(-60px);
            opacity: 1;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1rem;
            left: 3rem;
            width: 4.5rem;
            height: 4.5rem;
            background: url(../img/quote.svg);
            background-size: cover;
            opacity: 0.5;
            pointer-events: none;
            transition: 0.5s;
            transform: rotate(180deg) translateY(0px);
        }

        p {
            margin: 0;
            padding: 0;
            transition: 0.5s;
        }

        h3 {
            margin: 20px 0 0;
            padding: 0;
            transition: 0.5s;
            font-size: 18ox;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $secondary-font;
            color: $secondary-color;
            line-height: 1;

            span {
                font-weight: bold;
                font-size: 0.8rem;
                color: #c5c5c5;
                transition: 0.5s;
            }
        }

        .img-box {
            position: absolute;
            top: -3rem; 
            left: 3rem;
            transform: translateX(-50%);

            img {
                width: 70%;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                filter: $shadow-filter;
            }
        }
    }
}